VITE_ENV=development
VITE_NAME=zeuspay
VITE_API_BASE_KUBITQ=http://localhost:3001
VITE_API_BASE_URL=/api/v1/backoffice
VITE_API_BASE_URL_V2=/api/v2/backoffice
VITE_APP_ID=zeuspay
VITE_API_TIMEOUT=500000
VITE_EMAIL_EDITOR_PROJECT_ID=
